Package: com.logger.smilify
Name: Smilify
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Smile emoji shortcuts (e.g. :) :D)
Maintainer: David Sahakyan <loggerdev@gmail.com>
Author: David Sahakyan <loggerdev@gmail.com>
Section: Tweaks
Version: 0.0.1-1
Installed-Size: 88
